header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  button,
  nav ul {
    /* transition: all 0.2s; */
    transition: all var(--spring-duration) var(--spring-easing);
  }

  &.scrolled button {
    padding: 4px 16px;
  }

  &.scrolled nav ul {
    gap: 0;
  }
}
.nav-links {
  transition: all var(--spring-duration) var(--spring-easing);
  overflow: clip;
}

.nav-invisible {
  max-height: 0;
}

.nav-visible {
  max-height: 1000px;
  padding: 1.5em 0.5em;
  margin-top: 0.5em;
}
