header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-links {
  transition: all 0.2s ease-in-out;
  overflow: clip;
}

.nav-invisible {
  max-height: 0;
}

.nav-visible {
  max-height: 1000px;
  padding: 1.5em;
}
