@import "tailwindcss";

@theme {
  --primary-blue: #051ec3;
  --primary-dark-blue: #040826;
  --primary-mid-blue: #000c66;

  --primary-font: "Inter", sans-serif;
  --container-width: 60rem;
}

::-moz-selection {
  @apply bg-[var(--primary-blue)]/20;
}
::selection {
  @apply bg-[var(--primary-blue)]/20;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

.section {
  padding-top: 4rem;
  padding-inline: 1rem;
  scroll-margin-top: 50px;

  /* `md` -	48rem (768px) */
  @media (width >= 48rem) {
    padding-inline: 2rem;
  }

  /* `lg` 64rem (1024px) */
  @media (width >= 64rem) {
    margin-inline: 0;
    scroll-margin-top: 100px;
  }
}
