.mini-project-card {
  flex: 1 1 calc(50% - 4px);
  box-sizing: border-box;
  flex-shrink: 0;

  /* `md` 48rem (768px) */
  @media (width >= 48rem) {
    flex: 1 0 calc(25% - 4px);
    /* flex-shrink: 0; */
  }

  /* `lg` 64rem (1024px) */
  @media (width >= 64rem) {
    flex: 1 0 calc(25% - 8px);
    /* flex: 1; */
  }
}
